# Dependencies
/node_modules

# Production build files
/build

# MacOS system files
.DS_Store

# IDE and editor directories
/.idea
/.vscode

# Temporary files
*.log
*.tmp
*.temp

# Environment variables
.env
