# Node.js dependencies
/node_modules

# Production build files
/build
dist  

# MacOS system files
.DS_Store

# IDE and Editor directories
/.idea
/.vscode

# Temporary files
*.log
*.tmp
*.temp

# Environment variables
.env

